.header {
  background-color: #ff3b3b;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative; /* needed for nav centering */
  padding: 0.2rem 0.5rem;

  border-bottom: 2px solid #ff3b3b;
  box-shadow: 0 0 10px #ff3b3b;
}

.logo {
  height: 100%;
}

.nav-bar {
  display: flex;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 50%; 

  justify-content: space-between;
}

.nav-bar-button{
  background: transparent;
  border: none;

  font-size: 1rem;
}

.nav-bar-button:hover{
  background: transparent;
  border: none;
  text-decoration: underline;
  font-size: 1rem;
}

.signup-login-frame {
  margin-left: auto; 
  height: 100%;
  justify-content: center;
  align-content: center;
}

.signup-login-button {
  height: 50%;
  background-color: #22C55E;
  font-size: 1rem;
  margin: 5px;
}

.signup-login-button:hover {
  height: 50%;
  background-color: #86EFAC;
  font-size: 1rem;
  margin: 5px;
}