:root {
  /* Reds */
  --red: #ff3b3b;
  --red-dark: #d92f2f;
  --red-light: #ff6b6b;

  /* Greens */
  --green: #22C55E;
  --green-dark: #15803D;

  /* Whites */
  --white: #FAF9F6;

  /*Grays*/
  --gray:#D3D3D3;

  /* Blues */
  --blue:#2D7DFF



}